/* Some styles that affect the user settings page */

#balls {
    display: block;
    position: relative;
    float: left;
    margin: 80px;
}

#truncated {
    width: 350px;
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}